@import "../variables";

@media screen and (max-width: $TABLET_WIDTH) {
  :global {
    #hello > h2 {
      width: 70%;
      padding-right: 50px;
      font-size: 24px !important;
    }

    .profile-container {
      width: 50%;
    }

    .global-search-container {
      width: 70%;
    }

    .no-knowledge-label {
      > h1 {
        font-size: 32px !important;
      }
    }
  }
}