.welcome-text {
  position: absolute;
  display: flex;
  flex-direction: column;

  > h2 {
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: -1px -1px 19px rgba(150, 150, 150, 1);
  }
}

.main-block {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.get-started-button {
  width: 200px;
  height: 75px;
  font-size: 20px;
  margin-top: 10%;
}