@import "src/styles/buttons";

.actions {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.desk {
  cursor: pointer;
}

.desk:hover .desk-head > img, .item:hover .item-name > img  {
  visibility: visible;
  opacity: 1;
}

.desk-head, .item-name {
  display: flex;
  width: 100%;
  justify-content: space-between;
  transition: 1s linear;

  > img {
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
  }
}

.board-menu {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-end
}