.__react_bs_dd_trigger {
  display: flex;
  align-items: center;
}

.__react_bs_dd_menuItems {
  > div {
    height: 46px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    font-family: WorkSans;
    font-size: 16px;
    color: #343a40;
    border-top: solid 1px #f5f6f7;

    &:first-child {
      border: none !important;
    }

    &:hover {
      color: #f57f17;
    }
  }
}

.authContainer {
  display: flex;
  flex-direction: column;
}

.profile-bar {
  position: absolute;
  right: 25px;
}

button.log-in-button {
  height: 36px;
  width: 90px;
  letter-spacing: 1.1px;
}

button.register-button {
  height: 36px;
  width: 170px;
  font-family: WorkSans;
  letter-spacing: 1.1px;
}