.__react_bs_dd_trigger {
  display: flex;
  align-items: center;
}

.__react_bs_dd_menuItems {
  > div {
    height: 46px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    font-family: WorkSans;
    font-size: 16px;
    color: #343a40;
    border-top: solid 1px #f5f6f7;

    &:first-child {
      border: none !important;
    }

    &:hover {
      color: #f57f17;
    }
  }
}