@import "src/styles/mixins.scss";
@import "src/styles/react-select.scss";

h1 {
  @include heading-1;
  color: #74cfae;
}

#myCanvasContainer {
  margin-top: 10px;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}

.center-tag-cloud {
  padding-top: 200px;
}

.centered {
  text-align: center;
}

.mt {
  margin-top: 40px;
}

/* Links */
a {
  color: #f85c37;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Bootstrap Modifications */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  position: relative !important;
  z-index: 0 !important;
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  margin: 0 !important;
  padding-bottom: 15px;
  background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #74cfae;
}

.btn-theme {
  color: #ffffff;
  background-color: #74cfae;
  border-color: transparent;
}

.btn {
  padding: 10px 30px;
  margin-bottom: 0;
  font-size: 18px;
  border: 5px solid transparent;
  border-radius: 0px;
}

.lead {
  letter-spacing: 1px;
}

/* WRAP SECTIONS */

/* hello */
#hello {
  position: absolute;
  width: 100%;
  padding-right: 10px;
}

.navbar-container {
  background-color: white;
  height: $HEADER_HEIGHT;

  .header-container {
    height: $HEADER_HEIGHT;
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    align-items: center;
    z-index: 100;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);

    > div:first-child {
      z-index: 20;
    }
  }
}

.navbar {
  z-index: 10 !important;
}

.navbar-lightning {
  font-size: 55px;
  padding-left: 40px;
  outline: none !important;
  cursor: default;

  > i {
    cursor: pointer;
    color: gray;
    opacity: 0.8;
    transition: .2s opacity;

    &:hover {
      opacity: 1;
      transition: .2s opacity;
    }
  }
}