@import "mixins.scss";
@import "variables.scss";

button {
  font-size: inherit;
  background-color: white;
  border: transparent;
  margin: inherit;
  outline: none;

  &:disabled {
    background-color: $DISABLED_COLOR;
    border: solid 2px $DISABLED_COLOR;
    cursor: not-allowed;
  }

  &:hover:disabled {
    background-color: $DISABLED_COLOR;
    border: solid 2px $DISABLED_COLOR;
    cursor: not-allowed;
  }

  &.big {
    @include big-button;
  }

  &.wider {
    width: 250px;
  }

  &.medium {
    @include medium-button;
  }

  &.small {
    @include small-button;
  }

  &.add {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}

.primary {
  color: white;
  font-family: Avenir-Bold;
  border-radius: 6px;
  background-color: $PRIMARY_COLOR;

  &:hover {
    transition: .3s all;
    background-color: $PRIMARY_HOVER_COLOR;
  }

  &:active {
    transition: .3s all;
    background-color: $PRIMARY_ACTIVE_COLOR;
  }
}

.secondary {
  border-radius: 6px;
  background-color: transparent;
  border: solid 2px $PRIMARY_COLOR;
  font-family: Helvetica;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.5px;
  text-align: center;
  color: #f57f17;

  &:hover {
    transition: .3s all;
    color: $PRIMARY_HOVER_COLOR;
    border-radius: 6px;
    border: solid 2px $PRIMARY_HOVER_COLOR;
  }

  &:active {
    transition: .3s all;
    color: $PRIMARY_ACTIVE_COLOR;
    border: solid 2px $PRIMARY_ACTIVE_COLOR;
  }
}

.tertiary {
  border-radius: 6px;
  background-color: transparent;
  border: solid 2px $TERTIARY_COLOR;
  font-family: WorkSans;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.5px;
  text-align: center;
  color: #62aff7;

  &:hover {
    transition: .3s all;
    color: white;
    border-radius: 6px;
    background-color: $TERTIARY_HOVER_COLOR;
    border: solid 2px $TERTIARY_COLOR;
  }

  &:active {
    transition: .3s all;
    color: white;
    background-color: $TERTIARY_COLOR;
    border: solid 2px $TERTIARY_COLOR;
  }
}

.special {
  border-radius: 6px;
  background-color: $SPECIAL_COLOR;
  border: solid 2px $SPECIAL_COLOR;
  color: white;
  font-family: WorkSans;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.5px;
  text-align: center;

  &:hover {
    transition: .3s all;
    color: white;
    border-radius: 6px;
    background-color: $SPECIAL_HOVER_COLOR;
    border: solid 2px $SPECIAL_HOVER_COLOR;
  }

  &:active {
    transition: .3s all;
    color: white;
    background-color: $SPECIAL_ACTIVE_COLOR;
    border: solid 2px $SPECIAL_ACTIVE_COLOR;
  }
}

.gray {
  border-radius: 6px;
  background-color: $GRAY_COLOR;
  border: solid 2px #f8f8f8;
  font-family: WorkSans-Medium;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.5px;
  text-align: center;
  color: #7a8693;

  &:hover {
    transition: .3s all;
    color: #7a8693;
    border-radius: 6px;
    background-color: $GRAY_HOVER_COLOR;
    border: solid 2px $GRAY_HOVER_COLOR;
  }

  &:active {
    transition: .3s all;
    color: #7a8693;
    background-color: $GRAY_ACTIVE_COLOR;
    border: solid 2px $GRAY_ACTIVE_COLOR;
  }
}

.save-button {
  cursor: pointer;
  background-color: transparent;
  opacity: 0.8;
  transition: 0.2s opacity ease;
  margin-left: 15px;

  &:hover {
    opacity: 1;
    transition: 0.2s opacity ease;
  }
}