
@font-face {
  font-family: WorkSans;
  src: url(assets/fonts/WorkSans/WorkSans-Regular.otf);
}

@font-face {
  font-family: Avenir;
  src: url(assets/fonts/Avenir/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: Avenir-Light;
  src: url(assets/fonts/Avenir/AvenirNextLTPro-It.otf);
}

@font-face {
  font-family: Avenir-Book;
  src: url(assets/fonts/Avenir/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: Avenir-Bold;
  src: url(assets/fonts/Avenir/AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: Avenir-DemiBold;
  src: url(assets/fonts/Avenir/AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: Avenir-Medium;
  src: url(assets/fonts/Avenir/AvenirNextLTPro-MediumCn.otf);
}

@font-face {
  font-family: OpenSans;
  src: url(assets/fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(assets/fonts/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: WorkSans;
  src: url(assets/fonts/WorkSans/WorkSans-Regular.otf);
}

@font-face {
  font-family: WorkSans-Bold;
  src: url(assets/fonts/WorkSans/WorkSans-Bold.otf);
}

@font-face {
  font-family: WorkSans-Medium;
  src: url(assets/fonts/WorkSans/WorkSans-Medium.otf);
}

@font-face {
  font-family: Cooper-Light;
  src: url(assets/fonts/Cooper/CooperLightCBT.otf);
}

@font-face {
  font-family: Cooper-Medium;
  src: url(assets/fonts/Cooper/CooperMediumCBT.otf);
}

@font-face {
  font-family: Cooper-Bold;
  src: url(assets/fonts/Cooper/CooperBlackCBT.otf);
}

@font-face {
  font-family: Serif;
  src: url(assets/fonts/OfficinaSerif/OfficinaSerifBookC.otf);
}

@font-face {
  font-family: Serif-Light;
  src: url(assets/fonts/OfficinaSerif/OfficinaSerifBlackSCC.otf);
}

@font-face {
  font-family: Serif-Bold;
  src: url(assets/fonts/OfficinaSerif/OfficinaSerifBoldC.otf);
}