@mixin big-button {
  width: 204px;
  height: 54px;
  font-family: Avenir-DemiBold;
  font-size: 18px;
}

@mixin medium-button {
  width: 125px;
  height: 54px;
  font-family: Avenir-DemiBold;
  font-size: 16px;
}

@mixin small-button {
  width: 130px;
  height: 36px;
  font-family: Avenir-DemiBold;
  font-size: 14px;
}

@mixin heading-1 {
  font-family: Avenir-Light;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #343a40;
}

@mixin heading-2 {
  font-family: Avenir-Book;
  font-size: 26px;
  line-height: 1.85;
  letter-spacing: 0.5px;
  color: #343a40;
}

@mixin heading-4 {
  font-family: WorkSans;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.67;
  letter-spacing: 0.6px;
  color: #343a40;
}

@mixin regular-text {
  font-family: WorkSans;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.5px;
  color: #626d78;
}