@import "mixins";

button.close {
  outline: none;
  position: absolute;
  right: 35px;

  img {
    height: 33px;
  }
}

.modal-content {
  width: 573px;
}

.modal-header {
  display: flex;
  align-items: center;
}

.modal-footer {
  padding: 25px 15px 0 15px !important;
}

.modal-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  p {
    @include regular-text;
    padding: 0 24px;
  }
}

.modal-title {
  font-family: Avenir-Book;
}

.btn-actions {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;

  button {
    height: 55px;
    width: 150px;
    font-size: 16px;
    margin: 0 15px;
  }

  .cancel {
    margin-left: 25px;
    width: 150px;
  }
}

.ReactModalPortal > * {
  opacity: 0;
}

.ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);
  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}