.thin-label {
  font-family: Cooper-Light;
  font-size: 16px;
  line-height: 1.75;
}

.custom-tooltip {
  font-size: 16px;
  font-family: Cooper-Medium;
  background-color: lightslategray;
  color: white;
  padding: 10px;
  border-radius: 5px;
  white-space: pre;
}