$HEADER_HEIGHT: 102px;

$MOBILE_WIDTH: 600px;
$TABLET_MINI_WIDTH: 768px;
$TABLET_WIDTH: 1024px;
$LAPTOP_WIDTH: 1366px;


// Default theme
$DISABLED_COLOR: #919191;

$PRIMARY_COLOR: #f57f17;
$PRIMARY_HOVER_COLOR: #ffb536;
$PRIMARY_ACTIVE_COLOR: #f56c17;

$TERTIARY_COLOR: #62aff7;
$TERTIARY_HOVER_COLOR: rgba(98, 175, 247, 0.45);

$SPECIAL_COLOR: #2fd976;
$SPECIAL_HOVER_COLOR: #7de2a7;
$SPECIAL_ACTIVE_COLOR: #26bb65;

$GRAY_COLOR: #eaecef;
$GRAY_HOVER_COLOR: rgba(216, 220, 225, 0.42);
$GRAY_ACTIVE_COLOR: rgba(216, 220, 225, 0.55);
