@import "src/styles/variables.scss";

.recognition-toolbar-container {
  position: relative;

  .recognition-button > img {
    max-height: 45px;
  }
}

.player-container {
  position: sticky;
  left: 100%;
  padding: 10px;
  z-index: 100;
  display: flex;
  border-radius: 10%;

  &.collapsed {
    cursor: pointer;
    justify-content: flex-end;
    bottom: calc(100% - 10px);
    width: 50px;

    > img {
      background-color: white;
      position: absolute;
      height: 45px;
      right: -40px;
    }
  }

  &.uncollapsed {
    justify-content: space-around;
    bottom: calc(100% - 100px);
    width: 250px;
    background-color: $GRAY_COLOR;
  }

  .minimize-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .play-button {
    display: flex;
    cursor: pointer;
    align-items: center;
    opacity: 0.6;
    padding: 0 10px 0 0;

    &:hover {
      opacity: 1;
    }

    > img {
      width: 70px;
    }
  }

  .player-actions {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .player-language-select {
      display: flex;
      flex-direction: column;
    }

    > div:first-child {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
  }

  .cursor-position-button {
    cursor: pointer;
    height: 35px;
    padding: 3px;
    border: none;

    &:hover {
      border: none;
    }
  }

  .cursor-actions {
    display: flex;
    align-items: center;
    font-size: 13px;

    > label {
      padding: 0 15px 0 0;
      font-style: italic;
    }
  }
}