.name-input {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.name-input .name {
  text-align: center;
}

.ReactModal__Content {
  padding: 20px 50px !important;
}

.draft-editor-container {
  display: flex;
  justify-content: center;

  > input {
    width: 200px;
    text-align: center;
  }
}

:global .draftJsSidebarPlugin__wrapper__3on36 {
  left: 10px !important;
}

:global .public-DraftEditor-content {
  min-height: 80vh;

  span {
    font-family: Cooper-Medium;
  }
}

.profile {
  display: flex;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  min-width: 150px;

  .user-name {
    font-family: Avenir;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color: #343a40;
  }

  .user-type {
    font-family: WorkSans;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.4px;
    color: #7a8693;
  }

  .user-labels {
    display: flex;
    padding-left: 15px;
    flex-direction: column;
  }

  .user-img {
    cursor: pointer;
    width: 50px;
    border-radius: 5px;
    align-self: flex-end;
  }

  .profile-img {
    align-self: center;
  }

  .user-profile {
    display: flex;
    justify-content: space-between;
    width: 180px;

    img {
      cursor: pointer;
      width: 30px;
      height: 30px;
    }
  }
}

.get-knowledge-button {
  height: 50px;
  width: 200px;
  margin-right: 10%;
}

.renew-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  margin-right: 5%;
  align-self: flex-start;

  > .group-renewers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > .group-label {
      font-family: Avenir;
      font-weight: 500;
      font-size: 16px;
      align-self: flex-start;
    }

    > .group_renewers_images {

      > img {
        cursor: pointer;
        width: 25px;
        margin-left: 5px;
      }
    }
  }
}

.tree-view {
  cursor: pointer;
  width: 60px;
  margin-left: 50px;
}