@import "../../variables";

@media screen and (max-width: $MOBILE_WIDTH) {
  :global {
    #hello > h2 {
      width: 60%;
      font-size: 18px !important;
    }

    .sky-container {
      margin: 0 95px 0 55px;
    }

    .global-search-container {
      width: 100%;
    }

    .navigation-container {
      width: 60px;

      svg.nav-hamburger {
        transform: scale(0.7);
      }

      &:hover {
        width: 70%;
      }
    }

    .menu {
      right: 15px;
      top: 30px;
    }

    .no-knowledge-label {
      width: 100%;

      > h1 {
        font-size: 20px !important;
      }
    }
  }
}