@import "src/styles/variables";

.navigation-container {
  position: fixed;
  display: flex;
  padding-top: $HEADER_HEIGHT + 100px;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  height: 100%;
  width: 90px;
  z-index: 1;
  transition: width 500ms ease-in-out;

  svg.nav-hamburger {
    opacity: 0.6;
    transition: opacity .5s;
  }

  > nav {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    color: #ffffff;
    text-align: center;
    transition: all 200ms linear;
    margin-top: 5vh;

    > a {
      cursor: pointer;
      color: #343a40;
      font-family: Lato;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: 20px;
      padding-top: 15px;

      &.navbar-lightning {
        display: none;
        align-items: center;
        white-space: nowrap;
        padding-left: 0;
      }

      &:first-child {
        padding-bottom: 15px;
      }

      &:last-child {
        padding-top: 30px;
      }

      &.active {
        color: $PRIMARY_ACTIVE_COLOR;
        > i.fa-bolt {
          color: $PRIMARY_ACTIVE_COLOR;
        }

        &:before {
          margin-right: 20px;
          opacity: 1;
        }

        &:after {
          margin-left: 20px;
          opacity: 1;
        }
      }

      &:before, &:after {
        opacity: 0;
        transition: all .5s;
      }

      &:before {
        content: '[';
        transform: translateX(20px);
      }

      &:after {
        content: ']';
        transform: translateX(-20px);
      }

      &:hover {
        color: $PRIMARY_ACTIVE_COLOR;
        > i.fa-bolt {
          color: $PRIMARY_ACTIVE_COLOR;
        }

        &:before {
          margin-right: 20px;
          opacity: 1;
          transform: translateX(0);
          transition: margin-right .3s ease-in-out;
        }

        &:after {
          margin-left: 20px;
          opacity: 1;
          transform: translateX(0);
          transition: margin-left .3s ease-in-out;
        }
      }
    }
  }

  &:hover {
    width: 250px;
    background-color: #f8f8f8;

    svg.nav-hamburger > g:last-child {
      opacity: 1;

      rect {
        fill: #626d78;
      }
    }

    > nav {
      visibility: visible;
      opacity: 1;
    }
  }
}