@import "../../../styles/variables";

.react-grid-item {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  height: 100%;
  border-radius: 6px;
  box-shadow: 1px 1px 5px 0 rgba(52, 58, 64, 0.09);
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 2px 2px #62aff7;
  }

  &.active {
    box-shadow: 0 0 0 5px #62aff7;
  }

  .sky-item-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    > .item-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > .name {
        font-family: Serif-Bold;
        font-size: 18px;
      }

      .open-cloud {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.react-grid-item[width~="400px"] {
  background-color: blue;
}

.react-grid-item[width~="600px"] {
  background-color: blue;
}

.gooey-container {
  top: $HEADER_HEIGHT;
}

.zoom-panel {
  position: fixed;
  cursor: pointer;
  display: flex;
  bottom: 20px;
  right: 20px;

  > img {
    cursor: pointer;
    height: 40px;
    margin-right: 10px;

    &:active {
      transform: translateY(2px);
    }
  }
}

//////////////////////DELETE

.widget-name h2 {
  font-size: 12px;
}

.widget-name[min-width~="400px"] h2 {
  font-size: 18px;
}

.widget-name[min-width~="600px"] h2 {
  padding: 55px;
  text-align: center;
  font-size: 24px;
}

.widget-name[min-width~="700px"] h2 {
  font-size: 34px;
  color: red;
}