@import "styles/mixins";
@import "styles/fonts.scss";
@import "styles/buttons.scss";
@import "styles/variables.scss";

body {
  background-color: #f2f2f2 !important;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  overflow-x: hidden;
}

h1 {
  @include heading-1;
}

h2 {
  font-size: 30px !important;
}

h4 {
  @include heading-4;
}

label {
  font-family: Lato;
}

.title {
  text-align: left;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 120px 0 90px;
}

.centered-container {
  text-align: center;
  margin: 0 20%;
}

.blur {
  filter: blur(2px);
}

.modal-header {
  align-items: flex-start;
}

.spinner {
  position: fixed;
  z-index: 200;
  bottom: 10px;
  left: 10px;
}

.delete-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 27px;
  margin-left: 15px;

  > div:first-child {
    height: 16px;
  }

  &:hover {
    .delete-hat {
      transform: rotate(30deg) translate(3px, -5px);
    }
  }
}

.async-validating {
  > input {
    background-color: #ffffff;
    background-image: url('assets/icons/spinner.svg');
    background-size: 25px 25px;
    background-position: right center;
    background-repeat: no-repeat;
  }
}

@import "styles/screen-views/common/common-laptop-view";
@import "styles/screen-views/common/common-tablet-view";
@import "styles/screen-views/common/common-tablet-mini-view";
@import "styles/screen-views/common/common-mobile-view";
@import "styles/screen-views/modal/modal-mobile-view";
