@import "styles/mixins";
@import "styles/fonts.scss";
@import "styles/buttons.scss";

body {
  background-color: antiquewhite;
}

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

h4 {
  @include heading-4;
}

.header-container {
  margin: 10px 50px;
  display: flex;
  align-items: center;

  > div:first-child {
    z-index: 20;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 170px 3% 90px;
}

.centered-container {
  text-align: center;
  margin: 0 20%;
}

.blur {
  filter: blur(2px);
}

.modal-header {
  align-items: flex-start;
}

.input-container + br + span {
  border: none;
  font-weight: bold;
  color: #ff3328;
}

.error-textfield {
  border: 1px solid #ff0000;
}

.async-validating {
  > input {
    background-color: #ffffff;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 25px 25px;
    background-position: right center;
    background-repeat: no-repeat;
  }
}

.navbar {
  z-index: 10 !important;
}

.spinner {
  position: fixed;
  z-index: 200;
  bottom: 10px;
  left: 10px;
}
