@import "styles/mixins";
@import "styles/fonts.scss";
@import "styles/buttons.scss";
@import "styles/variables.scss";

body {
  background-color: #f2f2f2 !important;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  margin: 0 !important;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  overflow-x: hidden;
}

h1 {
  @include heading-1;
}

h2 {
  font-size: 30px !important;
}

h3 {
  letter-spacing: 1px;
}

h4 {
  @include heading-4;
}

.navbar-container {
  background-color: white;
  height: $HEADER_HEIGHT;

  .header-container {
    height: $HEADER_HEIGHT;
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    align-items: center;
    z-index: 100;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);

    > div:first-child {
      z-index: 20;
    }
  }
}

.navbar-lightning {
  font-size: 55px;
  outline: none !important;
  padding-left: 40px;
  cursor: default;

  > i {
    cursor: pointer;
    color: gray;
    opacity: 0.8;
    transition: .3s opacity;

    &:hover {
      opacity: 1;
      transition: .3s opacity;
    }
  }
}

.main-container {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  margin: 0 170px 3% 90px;
}

.centered-container {
  text-align: center;
  margin: 0 20%;
}

.blur {
  filter: blur(2px);
}

.modal-header {
  align-items: flex-start;
}

.input-container + br + span {
  border: none;
  font-weight: bold;
  color: #ff3328;
}

.error-textfield {
  border: 1px solid #ff0000;
}

.async-validating {
  > input {
    background-color: #ffffff;
    background-image: url("assets/icons/spinner.svg");
    background-size: 25px 25px;
    background-position: right center;
    background-repeat: no-repeat;
  }
}

.navbar {
  z-index: 10 !important;
}

.spinner {
  position: fixed;
  z-index: 200;
  bottom: 10px;
  left: 10px;
}

.delete-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 27px;
  margin-left: 15px;

  > div:first-child {
    height: 16px;
  }

  &:hover {
    .delete-hat {
      transform: rotate(30deg) translate(3px, -5px);
    }
  }
}

#PlacesAutocomplete__root {
  margin-bottom: 0 !important;
}

.TEXT_ALIGN_CENTER {
  font-family: Arial;
}