.profile-category-container {
  display: flex;
  flex-direction: column;

  .profile-category {
    width: 100%;
    border-bottom: 2px solid black;

    > h4 {
      font-family: Raleway-Bold;
    }
  }
}