.profile-field-container {
  display: flex;
  padding: 8px 0 2px 0;
  border-bottom: 1px solid;

  > .field-name {
    font-family: Cooper-Medium;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  > .field-value {
    font-family: Cooper-Medium;
    width: 50%;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}