.profile-container {
  display: flex;
  height: 100vh;
  z-index: 1;
  direction: rtl;
  overflow-y: auto;
  background-color: #f2f2f2;
  transition: .4s width ease;
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }

  .btn-actions {
    justify-content: flex-end;
  }

  .close {
    left: 35px;
    padding-top: 20px;
  }

  > .short-info {
    flex: 1;
    direction: ltr;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 1150px;
    background-color: transparent;
    border-left: 1px dashed gray;

    .user-avatar {
      align-self: center;
    }
  }

  > .long-info {
    flex: 2;
    background-color: white;
  }

  .user-avatar {
    width: 170px;

    > img {
      width: 100%;
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      border: 1px solid #dbdbdb;
    }
  }
}